apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: property-service
  labels:
    app: prometheus
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s
    scrape_configs:
      - job_name: 'propertyservice-api'
        kubernetes_sd_configs:
          - role: pod
            namespaces:
              names: ['property-service']
        relabel_configs:
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: keep
            regex: propertyservice-api
          - source_labels: [__meta_kubernetes_pod_ip]
            action: replace
            target_label: __address__
            replacement: $1:8080
          - source_labels: [__meta_kubernetes_pod_name]
            action: replace
            target_label: pod
          - source_labels: [__meta_kubernetes_namespace]
            action: replace
            target_label: namespace
        metrics_path: '/metrics'
        scrape_interval: 10s
