name: CI

on:
  pull_request:
    branches: ["*"]
  push:
    branches: ["main"]

jobs:
  build-and-test:
    name: Build and Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: "9.0.x"
          cache: false

      - name: Restore
        run: dotnet restore PropertyService.sln

      - name: Build
        run: dotnet build PropertyService.sln --no-restore --configuration Release

      - name: Run Tests
        run: dotnet test tests/PropertyService.Tests.csproj --configuration Release --no-build --verbosity minimal
