name: Execute All Tests

on:
  workflow_call:
    inputs:
      dotnet-env:
        required: true
        type: string

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
        - name: Checkout
          uses: actions/checkout@v4

        - name: Setup .NET
          uses: actions/setup-dotnet@v4
          with:
            dotnet-version: ${{ inputs.dotnet-env }}
            cache: true

        - name: Restore
          run: dotnet restore

        - name: Build
          run: dotnet build --configuration Release --no-restore

        - name: Run Tests
          run: >
            dotnet test tests/PropertyService.Tests
            --configuration Release
            --no-build
            --verbosity minimal
